[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
celery = "*"
gevent = "*"
fastapi = "*"
gunicorn = "*"
pydantic = "*"
kombu = "<4.6.4"
uvicorn = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
alembic = "*"
python-decouple = "*"
ujson = "*"
redis = "*"
email-validator = "*"

[requires]
python_version = "3.8"
